nav {
    background-color: $color-blue;


    #logoImage {
        width: 180px;
        height: 150px;
        padding: 5px;
        border-radius: 50%;
        opacity: .70;   
        border: 3px solid $color-purple;
        box-shadow: inset 0px 0px 0px 3px $color-yellow;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    a{
        color: black;
        text-decoration: none;

        &:hover {
            color: $color-yellow;

        }

    }


    ul li {
        list-style: none;
        font-size: 2.5rem;
        letter-spacing: 3px;
        font-weight: 900;
        text-shadow: 1px 1px 1px white;

        &:hover{
            border-top: 2px solid $color-purple;
            text-shadow: 2px 2px 2px #6b38a6;
            transition-property: transform;
            transition: all;
            transition-duration: 500ms;
            transform: scale(1.1);
        }

    }


}