@import './variables';
@import './keyframes';
@import './navbar';
@import './footer';
@import './index';
@import './indexForm';




* {
    margin: 0;
    padding: 0;
    border: 0;
    // box-sizing: border-box;
    overflow-x: hidden;
    // background-color: $color-blue;
}

body {
    font-family: 'Libre Baskerville', serif;

}

