@import './variables';
@import './navbar';
@import './footer';
@import './index';




* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    // background-color: $color-blue;
    font-family: 'Libre Baskerville', serif;
}

