doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">

  body
    include html/nav.html
    block content
    include html/footer.html



