/*RGB rgb(107, 56, 166)*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0, 4px);
            transform: translate(0, 4px);
  }
  50% {
    -webkit-transform: translate(0, 8px);
            transform: translate(0, 8px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translate(0, 4px);
            transform: translate(0, 4px);
  }
  50% {
    -webkit-transform: translate(0, 8px);
            transform: translate(0, 8px);
  }
}

nav {
  background-color: #5bccf6;
}

nav #logoImage {
  width: 180px;
  height: 150px;
  padding: 5px;
  border-radius: 50%;
  opacity: .70;
  border: 3px solid #6b38a6;
  -webkit-box-shadow: inset 0px 0px 0px 3px #fcde67;
          box-shadow: inset 0px 0px 0px 3px #fcde67;
}

nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #fcde67;
}

nav ul li {
  list-style: none;
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-weight: 900;
  text-shadow: 1px 1px 1px white;
}

nav ul li:hover {
  border-top: 2px solid #6b38a6;
  text-shadow: 2px 2px 2px #6b38a6;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  width: 100%;
  height: auto;
  background-color: #6b38a6;
}

/*Main image and introductory text the user will first see below the navbar*/
.topIntroWrapper {
  width: 100%;
  height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.topIntroWrapper #introImg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.topIntroWrapper .introSellWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  text-align: center;
  font-weight: 900;
  text-shadow: 2px 2px 2px #6b38a6;
  border-radius: 2%;
  gap: 40px;
  position: relative;
  font-size: 1rem;
  height: 50%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  -webkit-box-shadow: 3px 3px 3px #030e12;
          box-shadow: 3px 3px 3px #030e12;
}

.topIntroWrapper a {
  color: #5bccf6;
  text-decoration: none;
}

.topIntroWrapper a:hover {
  color: #fcde67;
}

/*Main Image end*/
/*Start of main/body of content*/
main {
  /*Handles default styling for anything in the body*/
  width: 100%;
  background-color: white;
  /*Default styling end*/
  /*Start of 3 divs explaining different events the company handles*/
  /*End 3 divs explaination of what the company does*/
  /*Start call to action*/
  /*End call to action*/
  /*Gallery link and call to action.*/
  /*End Object*/
}

main .three-product-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 80px;
  width: 95%;
  margin: auto;
  margin-bottom: 100px;
}

main .three-product__containers {
  padding: 30px;
  background: #5bccf6;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #5bccf6), to(white));
  background: linear-gradient(0deg, #5bccf6 15%, white 100%);
}

main .three-product__text {
  text-align: center;
  font-size: 1.2rem;
}

main .three-product__text h1 {
  text-decoration: underline;
  text-shadow: 2px 2px 2px #EB52DF;
  margin-bottom: 30px;
}

main .three-product__text p {
  color: #030e12;
  line-height: 2rem;
  letter-spacing: .8 rem;
  text-shadow: 1px 1px 1px #FFFFFF;
}

main .company-callto-wrapper {
  width: 100%;
  background-color: #5bccf6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

main .company-callto__text {
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #030e12;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
  line-height: 40px;
  font-size: 1.2rem;
  text-align: left;
}

main .company-callto__image {
  position: relative;
  width: 600px;
}

main .company-callto__image h3 {
  text-align: center;
  font-size: 1.4rem;
  width: 350px;
  position: absolute;
  color: white;
  left: 15%;
  top: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
}

main .moon-image {
  width: 100%;
  height: 100%;
  image-rendering: optimizeQuality;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 3px 3px 3px #030e12;
          box-shadow: 3px 3px 3px #030e12;
}

.form-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form-container form {
  background-image: url("../images/formBackground.jpg");
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px;
  border: 3px inset #6b38a6;
  outline: 1px solid #fcde67;
}

.form-container form h1 {
  color: white;
  text-shadow: 2px 2px 2px #6b38a6;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-container .form-text-wrapper {
  background-color: white;
  padding: 30px;
  -webkit-box-shadow: 3px 3px 3px #030e12;
          box-shadow: 3px 3px 3px #030e12;
  border-left: inset 1px #030e12;
  border-top: inset 1px #030e12;
  -webkit-animation: bounce 1.5s ease-in-out infinite;
          animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
  50% {
    -webkit-transform: translate(0, 6px);
            transform: translate(0, 6px);
  }
}

.form-container .form-text {
  background-color: #EB52DF;
  color: white;
  text-shadow: 1px 1px 1px #030e12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.form-container form label {
  font-weight: 900;
  font-size: 1.4rem;
}

.form-container form input {
  border-bottom: 1px solid #030e12;
  font-size: 1.2rem;
  border-radius: 5%;
}

.form-container textarea {
  color: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  font-family: 'Libre Baskerville', serif;
}
/*# sourceMappingURL=main.css.map */