/*RGB rgb(107, 56, 166)*/
nav {
  background-color: #5bccf6;
}

nav #logoImage {
  width: 180px;
  height: 150px;
  padding: 5px;
  border-radius: 50%;
  opacity: .70;
  border: 3px solid #6b38a6;
  -webkit-box-shadow: inset 0px 0px 0px 3px #fcde67;
          box-shadow: inset 0px 0px 0px 3px #fcde67;
}

nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
}

nav ul li {
  list-style: none;
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-weight: 900;
  text-shadow: 1px 1px 1px white;
}

nav ul li:hover {
  text-shadow: 1px 1px 1px #6b38a6;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.topIntroWrapper {
  width: 100%;
  height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topIntroWrapper #introImg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.topIntroWrapper .introSellWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  text-align: center;
  font-weight: 900;
  text-shadow: 2px 2px 2px #6b38a6;
  border-radius: 2%;
  gap: 40px;
  position: relative;
  font-size: 1rem;
  height: 50%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  -webkit-box-shadow: 3px 3px 3px #030e12;
          box-shadow: 3px 3px 3px #030e12;
}

.topIntroWrapper a {
  color: #5bccf6;
  text-decoration: none;
}

.topIntroWrapper a:hover {
  color: #fcde67;
}

main {
  width: 100%;
  background-color: #5bccf6;
}

main .servicesOfferedContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

main .servicesImgWrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fcde67;
  border: 3px solid #6b38a6;
  -webkit-box-shadow: 3px 3px 3px #030e12;
          box-shadow: 3px 3px 3px #030e12;
  border-radius: 1%;
}

main .servicesImg {
  width: 100%;
  height: 100%;
}

main .servicesListedWrapper {
  width: 75%;
  height: 100%;
  text-align: center;
  padding: 10px;
  font-size: .65rem;
  line-height: 40px;
}

main .servicesListedWrapper h3 {
  margin-top: 10%;
  font-size: 1rem;
}

main .placesServicedContainer {
  width: 100%;
  height: 500px;
  margin-bottom: 200px;
  /*Delete ME !!*/
  background-color: #6b38a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}

main .centerServiceWrapper {
  text-align: center;
  width: 60%;
  height: 80%;
  margin-right: 100px;
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1%;
}

main .placesServicesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .placesServicedHeader {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
}

main .placesServicesDiv {
  margin: 30px;
  border-radius: 30%;
  border: 3px solid #EB52DF;
  padding: 30px;
  background-color: #fcde67;
}

main .contactUsServices {
  margin-top: 20px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  padding: 10px;
}

main .contactUsServices a {
  color: #5bccf6;
}

main .contactUsServices a:hover {
  color: #fcde67;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  font-family: 'Libre Baskerville', serif;
}
/*# sourceMappingURL=main.css.map */