<footer>
    <div class="footer-container-logo">
        <div class="footer_logo">
            <h1>Let us make your memories even more beautiful.</h1>
        </div>
    </div>
    <div class="footer_color_bar">

    </div>
    <div class="footer_color_bar" id="footer_color_bar2">

    </div>
    <div class="footer_color_bar" id="footer_color_bar3">

    </div>
    <div class="footer-policy-background-color">
        <div class="footer-container-policy">
            <h3><a href="#">Terms and Conditions</a></h3>
            <h3><a href="#">Privacy Policy</a></h3>
            <h3><a href="#">Contact Us</a></h3>
        </div>
        <div class="footer_end">

        </div>
    </div>
</footer>