<div class="topIntroWrapper">
    <img id="introImg" src="../../images/balloonMain.jpeg" alt="Ballon Assortment">
    <div class="introSellWrapper">
        <h1>Have an event? Make it special with one our custom balloon displays!</h1>
        <h1><a href="#">Book us now!</a></h1>
    </div>
</div>

<main>
    <div class="three-product-wrapper">

        <div class="three-product__containers">
            <div class="three-product__text">
                <h1>Birthdays</h1>
                <p>We specialize in kids birthdays and make it a point to make it something your child will forever remember! </p>
            </div>
        </div>
        <div class="three-product__containers">
            <div class="three-product__text">
                <h1>Social Events</h1>
                <p>Need a balloon display for a graduation, retirement party, baby showers, fourth of July gatherings and more? We got what you need to add a little joy to your next social event!</p>
            </div>
        </div>
        <div class="three-product__containers">
            <div class="three-product__text">
                <h1>Corporate Events</h1>
                <p>Add a little flare and style to your next get together with friends from in office.</p>
            </div>
        </div>
    </div>

    


    <!-- <div class="servicesOfferedContainer">
        <div class="servicesImgWrapper">
            <img class="servicesImg" src="../images/servicesImg.jpg" alt="Ballons in the sky">
            <div class="servicesListedWrapper">
                <h1>If you're taking fancy pictures for an important event or looking for something fun for your next childrens party, A Balloon Happenin has what you're looking for! </h1>
                <h3>Take a look at our <a href="#">Gallery</a> of previous events!</h3>
            </div>
        </div>
    </div> -->

    <!-- <div class="placesServicedContainer">
        <div class="centerServiceWrapper">
            <div class="placesServicedHeader">
                <h1>Everywhere we go, we bring the party with us!</h1>
                <h1>Check the places we service!</h1>
            </div>
            <!-- <div class="placesServicesList">
                <div class="placesServicesDiv"><h3>All of New Jersey</h3></div>
                <div class="placesServicesDiv"><h3>New York City</h3></div>
                <div class="placesServicesDiv"><h3>Long Island</h3></div>
            </div> -->
            <!-- <div class="contactUsServices"><h3><a href="#">Contact Us</a> to get a quote for your location today!</h3></div> --> 


        </div>
    </div>
</main>