<div class="topIntroWrapper">
    <img id="introImg" src="../../images/balloonMain.jpeg" alt="Ballon Assortment">
    <div class="introSellWrapper">
        <h1>Have an event? Make it special with one our custom balloon displays!</h1>
        <h1><a href="#">Book us now!</a></h1>
    </div>
</div>

<main>
    <div class="servicesOfferedContainer">
        <div class="servicesImgWrapper">
            <img class="servicesImg" src="../images/servicesImg.jpg" alt="Ballons in the sky">
            <div class="servicesListedWrapper">
                <h1>Want a display to remember? Need a festive background for pictures at parties? A Balloon Happenin has what you're looking for!</h1>
                <h3>Take a look at our <a href="#">Gallery</a> of previous events!</h3>
            </div>
        </div>
    </div>

    <div class="placesServicedContainer">
        <div class="centerServiceWrapper">
            <div class="placesServicedHeader">
                <h1>Everywhere we go, we bring the party with us!</h1>
                <h1>Check the places we service!</h1>
            </div>
            <div class="placesServicesList">
                <div class="placesServicesDiv"><h3>All of New Jersey</h3></div>
                <div class="placesServicesDiv"><h3>Inquire about NYC</h3></div>
                <div class="placesServicesDiv"><h3>Inquire about Long Island</h3></div>
            </div>
            <div>
                <img class="locationImg" src="../images/locationImg.jpg" alt="Places We Service">
            </div>
        </div>
    </div>
</main>