<div class="topIntroWrapper">
    <img id="introImg" src="../../images/balloonMain.jpeg" alt="Ballon Assortment">
    <div class="introSellWrapper">
        <h1>Have an event? Make it special with one our custom balloon displays!</h1>
        <h1><a href="#">Book us now!</a></h1>
    </div>
</div>

<main>
    <div class="servicesOfferedContainer">
        <div class="servicesImgWrapper">
            <img class="servicesImg" src="../images/servicesImg.jpg" alt="Ballons in the sky">
        </div>
        <div class="servicesListedWrapper">
            <p>Hello World</p>
        </div>
    </div>
</main>